body{
    padding: 0;
    margin: 0;
    background-color: #009999;
}

.container {
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Espaciado interno para no tocar los bordes */
}


.header {
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si es necesario */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
    text-align: center; /* Asegura que el texto dentro esté centrado */
}

.ticket {
    position: relative;
    width: 340px; /* Ajusta según tus necesidades */
    height: 200px; /* Ajusta según tus necesidades */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
    background-color: transparent;
}

.ticket-image {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del div */
    height: 100%; /* Hace que la imagen ocupe toda la altura del div */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.ticket-text {
    text-align: center;
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
    color: white; /* Color del texto */
    font-size: 36px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra de texto para mejor legibilidad */
}




.content {
    display: flex; /* Utiliza flexbox para crear columnas */
    justify-content: space-between; /* Espaciado entre columnas */
    margin: 20px; /* Espacio alrededor del contenedor */
    gap: 40px;
}

.column-left {
    display: flex;
    flex-direction: column; /* Organiza el contenido en una columna */
    justify-content: space-between; /* Espaciado entre los elementos */
    width: 45%; /* Ajusta el ancho de la columna */
}

.column-right {
    width: 50%; /* Ajusta el ancho de la columna */
    padding: 0px 20px;
    border: #003399 solid 4px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #003399;
    color: white;
    text-align: justify;
}

.button {
    display: flex; /* Activa el modelo flexbox */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #CC9900; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    height: 100%; /* Altura del botón */
    font-size: 40px;
}

.footer {
    margin-top: 20px; /* Espacio encima del logo */
}

.logo {
    max-width: 100%; /* Asegura que el logo no sobresalga */
    height: auto; /* Mantiene la proporción */
}

