body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.red-text {
    color: red;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #b0b0b0;
    border-radius: 50%;
    margin-right: 10px;
}

.points {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.subjects {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.redeem-section {
    background-color: #d4edda;
    border-radius: 5px;
}

.canje{
    padding: 10px;
    text-decoration: none;
    color: black;
}
